{% extends 'article/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Login Page
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md" style="margin-left: 50px">
    <h3>Welcome to Login Page</h3>
    <form method="POST">
    {% csrf_token %}
        {{ form|crispy}}
    <input type="submit" value="Login" class="btn btn-success">
    </form>
    </div>
    </div>
    <div class="container float-right">
        <div style=" margin: 50px">Do you want to Register?
        <b><a href={% url 'register' %}>Register</a></b>
    </div>
{% endblock %}