

{% extends 'templates/article/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Registration Page
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-10">
        <h3>Welcome To Registration Page</h3>
    <form method="POST">
    {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    </div>
    </div>
    <div class="container float-right">
        <div style="margin-left: 20%;">Do you already have a Account?
        <b><a href={% url 'login' %}>Login</a></b>
    </div>
    </div>
{% endblock %}